/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  width: 100%;
  background-color: rgba(255, 145, 182, 0.43);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
